.client {
    background: #162c3b;
    padding: 100px;
    text-align: center;
    .imgBx {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
        img {
            max-width: 200px;
            margin: 20px;
            opacity: 0.25;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
}