.services {
    background: #12222d;
    padding: 100px;
    text-align: center;
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
        .serviceBx {
            position: relative;
            background: #fff;
            width: 350px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 100px;
            }
            h2 {
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }
    }
}